@font-face
  font-family "dot"
  src url("/font/dotfont.ttf") format("ttf")
.dot
  font-family "dot"

.header-cover
  //background-size 400px !important

.list .list-item:hover .item-content .content-title:after
  margin 0
  width 100%

.list .list-item .item-content .content-categories .item-text[data-v-49c4e954]
.list .list-item .item-content .content-tags .item-text[data-v-49c4e954]
  color #777 !important

.content-tags a:before
.content-tag .tag-list a.tag-text:before
  content "#"

body
  font-family: "M PLUS Rounded 1c";

  h2
    color #3eaf7c !important
    &[data-v-2480bbe4]
      color #fff !important
  h3
    &:before
      content ""
      display inline-block
      background-color #3eaf7c
      width 5px
      height 1.2em
      line-height 1
      vertical-align top
      margin-right 3px

.list .list-item .item-img
  height 12.666666666666666rem
  background #fff

.prfBox 
  display flex
  flex-wrap wrap
  justify-content center
  .prfItem
    text-align center
    flex 1 1
    margin-right 10px
    margin-bottom 15px
    margin-top 20px
    width 150px
    max-width 150px
    img 
      border-radius 100%
    .ac
      cursor pointer
      width 100%
      box-sizing border-box
      resize none
      text-align center
      height auto
      border none
      font-family "dot"
      margin-top 6px
      padding 8px 5px
      background-color #3eaf7c
      font-size 13px
      color #fff
      position relative
      border-radius 10px 0 10px 0 / 10px 0 10px 0
      span
        background-color #aaa
        display inline-block
      &:before
        content ""
        display: inline-block
        position absolute
        top 0
        right 0
        width 6px
        height 8px
        background-color #222
      &:after
        content ""
        display: inline-block
        position absolute
        bottom 0
        left 0
        width 6px
        height 8px
        background-color #222

@media (prefers-color-scheme: dark)
  #global-layout
  .footer
    background #3c4c5f !important